<div>
    <form action="">
        <input type="text" placeholder="message">
        <button>Enviar</button>
    </form>
    <h1>Lista de productos en tiempo real</h1>

</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTimeProducts.js"></script>
